@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicionando a fonte 'Montserrat' para o título principal */

body {
  margin: 0;
  padding: 0;
  background-color: #f3e8ff;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Bem fina */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d8b4fe; /* Cor Lilás (dream-purple) */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a855f7; /* Roxo mais escuro ao passar o mouse */
}